.cache-main
.cache-tests
logs
target
/src/gen/**
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.sonar
/RUNNING_PID
/bin/
project/project/
conf/evolutions

/.vscode

**/*.iws
**/*.ipr
*.ipr
.factorypath
